<footer class="border-top footer text-muted">
    <div class="container">
        &copy; COMP2139 GBC Project Management – Sir Sir - <a asp-area="" asp-controller="Home" asp-action="About">Sir Sir</a>
    </div>
</footer>